<div class="container">
<img src="images/aajlogo3.png" 
style="width:128px;height:128px"/>
<h1>Field Trip Clothing</h1>
<p>Breathe Easy</p>
<br />
<a href="http://www.twitter.com/fieldtripcloth" target="blank">
	<%=image_tag("twitter6.png", size: "60x60")%> </a>
</div>